header.header
    .header__column
        a(href=routes.home)
            h1
                i.fas.fa-mug-hot
                span.header__text cafe.choice
                <i class="fas fa-beer"></i>
    .header__column
        a(href=routes.conditionalSearch)
            button.btn.btn-primary(type='button')  조건검색
        form(action=routes.search, method="get")
            input(type="text", placeholder="카페 이름을 입력하세요.", name="term", required=true)
            button.searchButton
                |검색   
    .header__column
        ul
            li
                a(href=routes.join) join
            li
                a(href=routes.login) login 