
form(action="/", method="post")
    label="id : "
    input(
        type='text'
        name='id'
    )
    label="name : "
    input(
        type='text'
        name='name'
    )
    label="phone : "
    input(
        type='text'
        name='phone'
    )
    input(
        type='submit'
    )
