mixin cafeInfo(cafe = {})
    .cafeInfo
        img.cafeInfo__thumbnail(src=cafe.imageUrl)
        h1.cafeInfo__name=cafe.name
        h4.cafeInfo__location=cafe.location

        .cafeInfo__menu
            each item in cafe.menu
                h5.cafeInfo__menuItem=`${Object.keys(item)} : ${Object.values(item)}원` 


        h4.cafeInfo__option
            each item in cafe.amenities
                i(class= item.icon) &nbsp; #{item.amen} &emsp;
           
            
            