mixin cafeBlock(cafe = {})
    div(class="card" style="min-width : 10rem; max-width: 25rem;")
        img(src=cafe.imageUrl class="card-img-top cafeBlock__thumbnail" alt="...")
        .card-body
            .form-inline
                h3.card-title #{cafe.name}
                if user
                    -var bool = false
                    each i in cafe.wholike
                        if( user.id == i)
                            -bool=true      
                    if bool===true
                        form(action=routes.like, method="post")
                            button(class="xi-heart xi-border xi-x like", name="userid", value=user.id)
                            span.small &nbsp;
                            input(type="hidden", name="cafeid", value=cafe.id)
                    else
                        form(action=routes.like, method="post")
                            button(class="xi-heart-o xi-border xi-x like", name="userid", value=user.id)
                            span.small &nbsp;
                            input(type="hidden", name="cafeid", value=cafe.id)
                else
                    button(class="xi-heart-o xi-border xi-x like", onclick="display();")
                    p.small.plzlogin 
                        | 로그인후 이용하세요.

            p.small #{cafe.branch}
            h6.card-text #{cafe.location}
            ul.list-group.list-group-flush
                li.list-group-item
                    h6.card-text=`${cafe.menu[0].subcat[0].name} ${cafe.menu[0].subcat[0].price}원 `
                        span.badge.badge-warning 아메리카노
                    h6.card-text.small=`${cafe.menu[1].subcat[0].name} ${cafe.menu[1].subcat[0].price}원`
                    //- h6.card-text.small=`${cafe.menu[1].subcat[1].name} ${cafe.menu[1].subcat[1].price}원` 
            p.card-text.icon
                each item in cafe.amenities
                    i(class= item.icon) &nbsp; #{item.amen} &emsp;
                h5.card-text.form-inline
                    each item in cafe.tag
                        -var x=item
                        form(action=routes.hashTag, method="get")
                            span
                                button(class="badge badge-dark tag", name=x) &emsp; ##{item} &emsp;
                    
            a(href=routes.cafeDetail(cafe.id) class="btn btn-primary marginbottm-2")|자세히 보기
            <p class="card-text"><small class="text-muted">#{cafe.comments.length} 개의 리뷰가 작성되었습니다.</small></p>
            


            
        
   
        